In [116]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import surprise

from surprise import SVD, KNNBaseline, KNNBasic, KNNWithMeans
from surprise.model_selection import cross_validate

In [117]:
df = pd.read_csv("steamWithIds-200k.csv")
df

,Unnamed: 0,playerId,gameTitle,playerGameStatus,time,zero,gameId
0,0,151603712,The Elder Scrolls V: Skyrim,purchase,1.0,0,72850.0
1,1,151603712,The Elder Scrolls V: Skyrim,play,273.0,0,72850.0
2,2,151603712,Fallout 4,purchase,1.0,0,377160.0
3,3,151603712,Fallout 4,play,87.0,0,377160.0
4,6,151603712,Fallout: New Vegas,purchase,1.0,0,22380.0
...,...,...,...,...,...,...,...
142309,199995,128470551,Titan Souls,play,1.5,0,297130.0
142310,199996,128470551,Grand Theft Auto Vice City,purchase,1.0,0,12110.0
142311,199997,128470551,Grand Theft Auto Vice City,play,1.5,0,12110.0
142312,199998,128470551,RUSH,purchase,1.0,0,38720.0
142313,199999,128470551,RUSH,play,1.4,0,38720.0

In [118]:
df_purchase = df.loc[(df['playerGameStatus']=='purchase')]
#df_purchase.to_csv("steamPurchased-200k.csv")

In [119]:
play = df.loc[(df['playerGameStatus']=='play')]
#play.to_csv("steamPlayed-200k.csv")

In [120]:
play

,Unnamed: 0,playerId,gameTitle,playerGameStatus,time,zero,gameId
1,1,151603712,The Elder Scrolls V: Skyrim,play,273.0,0,72850.0
3,3,151603712,Fallout 4,play,87.0,0,377160.0
5,7,151603712,Fallout: New Vegas,play,12.1,0,22380.0
7,9,151603712,Left 4 Dead 2,play,8.9,0,550.0
9,11,151603712,HuniePop,play,8.5,0,339800.0
...,...,...,...,...,...,...,...
142305,199987,128470551,Rogue Legacy,play,2.6,0,241600.0
142307,199993,128470551,Magic Duels,play,2.2,0,316010.0
142309,199995,128470551,Titan Souls,play,1.5,0,297130.0
142311,199997,128470551,Grand Theft Auto Vice City,play,1.5,0,12110.0
142313,199999,128470551,RUSH,play,1.4,0,38720.0

In [84]:
# suppose how much a user likes a game is poroportional to the time played
# this is what we are trying to predict and base the recommendation off
x = play.drop(columns='time')
y = play["time"].values

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)

In [32]:
x_train["time"] = y_train
x_train

<ipython-input-32-ce3ccd561e3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["time"] = y_train

,Unnamed: 0,playerId,gameTitle,playerGameStatus,zero,gameId,time
49707,69915,127220350,Portal 2,play,0,620.0,44.0
72647,101991,178038549,PAYDAY 2,play,0,218620.0,17.2
121555,170801,25539892,PAYDAY 2,play,0,218620.0,4.6
36729,51639,33282871,Primal Carnage,play,0,215470.0,13.9
28649,40201,150137344,Counter-Strike Global Offensive,play,0,730.0,153.0
...,...,...,...,...,...,...,...
14894,20947,234108053,Counter-Strike Global Offensive,play,0,730.0,65.0
20715,29100,11403772,Serious Sam 3 BFE,play,0,41070.0,8.5
46070,64920,251410133,Dota 2,play,0,570.0,241.0
46539,65546,54826284,Bully Scholarship Edition,play,0,12200.0,2.3
120705,169594,90534290,Sid Meier's Civilization V,play,0,8930.0,3.1

In [92]:
# baseline estimation (naive)
# Each user will spend the averge amount of time playing the game (doesnt look at users of games)
# Group each game and average the time spent playing.
baseline_y_pred = pd.DataFrame(x_train.groupby('gameId')['time'].mean())

# ground truth that the model will be tested against
gt_df = pd.DataFrame({'gameId': x_test["gameId"], 'Actual time': y_test})
gt_df

          gameId  Actual time
14409   232890.0          2.8
79564   228280.0       3898.0
2229    346900.0          5.4
5610     10180.0         40.0
30183      570.0         18.9
...          ...          ...
60671   220440.0         22.0
134146  377160.0         34.0
58378      570.0          4.1
14444   273110.0          0.5
135940   70000.0          3.7

[16160 rows x 2 columns]

In [93]:
y_pred_and_y_true = pd.merge(baseline_y_pred, gt_df, on='gameId')
baseline_y_pred_vs_y_true = y_pred_and_y_true.rename(columns={"time": "Predicted rating"})

baseline_y_pred_vs_y_true

         gameId  Predicted rating  Actual time
0          10.0        199.959453        675.0
1          10.0        199.959453          3.7
2          10.0        199.959453         11.6
3          10.0        199.959453          0.2
4          10.0        199.959453          0.2
...         ...               ...          ...
15854  997530.0          8.900000          1.0
15855  997530.0          8.900000         49.0
15856  997530.0          8.900000          3.0
15857  997530.0          8.900000          5.2
15858  997530.0          8.900000          5.2

[15859 rows x 3 columns]

In [96]:
# calculating RMSE for the baseline model
print("RMSE baseline model: ", math.sqrt(mean_squared_error(baseline_y_pred_vs_y_true["Predicted rating"], 
                                                       baseline_y_pred_vs_y_true["Actual time"])))

RMSE baseline model:  257.5689297823295

In [97]:
x_train.head()

,Unnamed: 0,playerId,gameTitle,playerGameStatus,zero,gameId,time
49707,69915,127220350,Portal 2,play,0,620.0,44.0
72647,101991,178038549,PAYDAY 2,play,0,218620.0,17.2
121555,170801,25539892,PAYDAY 2,play,0,218620.0,4.6
36729,51639,33282871,Primal Carnage,play,0,215470.0,13.9
28649,40201,150137344,Counter-Strike Global Offensive,play,0,730.0,153.0

In [98]:
game_info = pd.read_csv("gameInfo/steam.csv")
#game_info.columns
game_info = pd.concat([game_info, game_info['steamspy_tags'].str.split(';', expand=True)], axis=1).drop(columns=['platforms', 'required_age', 'categories', 
                                                                                                     'genres', 'steamspy_tags', 'achievements', 'positive_ratings',
                                                                                                    'negative_ratings', 'average_playtime', 'median_playtime', 'owners',
                                                                                                    'release_date','english', 'price'])
game_info

,appid,name,developer,publisher,0,1,2
0,10,Counter-Strike,Valve,Valve,Action,FPS,Multiplayer
1,20,Team Fortress Classic,Valve,Valve,Action,FPS,Multiplayer
2,30,Day of Defeat,Valve,Valve,FPS,World War II,Multiplayer
3,40,Deathmatch Classic,Valve,Valve,Action,FPS,Multiplayer
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,FPS,Action,Sci-fi
...,...,...,...,...,...,...,...
27070,1065230,Room of Pandora,SHEN JIAWEI,SHEN JIAWEI,Adventure,Indie,Casual
27071,1065570,Cyber Gun,Semyon Maximov,BekkerDev Studio,Action,Indie,Adventure
27072,1065650,Super Star Blast,EntwicklerX,EntwicklerX,Action,Indie,Casual
27073,1066700,New Yankee 7: Deer Hunters,Yustas Game Studio,Alawar Entertainment,Indie,Casual,Adventure
27074,1069460,Rune Lord,Adept Studios GD,Alawar Entertainment,Indie,Casual,Adventure

In [54]:
#Colaborative

In [105]:

#had to drop duplicates because some player has the same game twice
x_train.head()
x_train = x_train.drop_duplicates(subset=['playerId', 'gameId'])
#x_train
x_train.shape

(37675, 7)

In [107]:
user_matrix = x_train.pivot(index='playerId', columns='gameId', values='time')


user_matrix = user_matrix.sub(user_matrix.mean(axis=1), axis=0)
user_matrix = user_matrix.fillna(0.0)

In [108]:
user_dist_matrix = 1 - user_matrix.T.corr()
user_dist_matrix

playerId,5250,76767,86540,144736,181212,229911,298950,547685,554278,561758,...,309181805,309188905,309213952,309255941,309262440,309265377,309404240,309434439,309554670,309903146
playerId,,,,,,,,,,,,,,,,,,,,,
5250,0.000000,0.949017,1.0,NaN,1.000000,1.000000,1.007897,1.000000,1.000000,1.142174,...,NaN,1.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
76767,0.949017,0.000000,1.0,NaN,0.518061,0.920894,0.987098,1.206133,0.996449,1.029075,...,NaN,1.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
86540,1.000000,1.000000,0.0,NaN,1.000000,0.968287,1.000775,1.000000,0.995343,0.983401,...,NaN,1.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
144736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181212,1.000000,0.518061,1.0,NaN,0.000000,0.917929,1.000000,1.269436,1.000000,0.912123,...,NaN,1.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309265377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309404240,1.000000,1.000000,1.0,NaN,1.000000,1.000000,1.020427,1.000000,1.000000,1.000000,...,NaN,1.573733,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
309434439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309554670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309903146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

In [2]:
# This is the same data that was plotted for similarity earlier
# with one new user "E" who has rated only movie 1
ratings_dict = {
    "item": [1, 2, 1, 2, 1, 2, 1, 2, 1],
    "user": ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D', 'E'],
    "rating": [1, 2, 2, 4, 2.5, 4, 4.5, 5, 3],
}

df = pd.DataFrame(ratings_dict)
reader = Reader(rating_scale=(1, 5))

# Loads Pandas dataframe
data = Dataset.load_from_df(df[["user", "item", "rating"]], reader)
# Loads the builtin Movielens-100k data
movielens = Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] n
Ok then, I'm out!

SystemExit:

C:\Users\stanc\miniconda3\envs\bioinf\lib\site-packages\IPython\core\interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [3]:
from surprise import KNNWithMeans

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [4]:
data

In [5]:
trainingSet = data.build_full_trainset()

algo.fit(trainingSet)


prediction = algo.predict('E', 2)
prediction.est

Computing the cosine similarity matrix...
Done computing similarity matrix.

4.15

In [9]:
from surprise.model_selection import GridSearchCV

sim_options = {
    "name": ["msd", "cosine"],
    "min_support": [3, 4, 5],
    "user_based": [False, True],
}

param_grid = {"sim_options": sim_options}

gs = GridSearchCV(KNNWithMeans, param_grid, measures=["rmse", "mae"], cv=3)
gs.fit(data)


print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
1.0941793080757265
{'sim_options': {'name': 'msd', 'min_support': 3, 'user_based': True}}

In [16]:
#############FAAAAAAAKKKKK
# suppose how much a user likes a game is poroportional to the time played
# this is what we are trying to predict and base the recommendation off
x = play.drop(columns='time')
y = play["time"].values

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)

In [18]:
x_train["time"] = y_train
x_train

<ipython-input-18-ce3ccd561e3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train["time"] = y_train

,Unnamed: 0,playerId,gameTitle,playerGameStatus,zero,gameId,time
49707,69915,127220350,Portal 2,play,0,620.0,44.0
72647,101991,178038549,PAYDAY 2,play,0,218620.0,17.2
121555,170801,25539892,PAYDAY 2,play,0,218620.0,4.6
36729,51639,33282871,Primal Carnage,play,0,215470.0,13.9
28649,40201,150137344,Counter-Strike Global Offensive,play,0,730.0,153.0
...,...,...,...,...,...,...,...
14894,20947,234108053,Counter-Strike Global Offensive,play,0,730.0,65.0
20715,29100,11403772,Serious Sam 3 BFE,play,0,41070.0,8.5
46070,64920,251410133,Dota 2,play,0,570.0,241.0
46539,65546,54826284,Bully Scholarship Edition,play,0,12200.0,2.3
120705,169594,90534290,Sid Meier's Civilization V,play,0,8930.0,3.1

In [21]:
reader = Reader(rating_scale=(0, 9))

data = Dataset.load_from_df(x_train[['playerId', 'gameId', 'time']], reader)

In [24]:
from surprise import SVD, KNNBaseline, KNNBasic, KNNWithMeans
from surprise.model_selection import cross_validate




benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), KNNBaseline(), KNNBasic(), KNNWithMeans()]:
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

               test_rmse  fit_time  test_time
Algorithm
SVD           249.853238  1.233929   0.077992
KNNWithMeans  249.893791  1.436149   1.487847
KNNBasic      250.105260  1.362494   1.474279
KNNBaseline   250.194664  1.425324   1.629925

In [109]:
play.drop_duplicates(inplace=True)
#swapping columns
play=play[['playerId','gameId','time']] 
play.columns = ['playerId','gameId','time']

train,test = train_test_split(play, test_size=0.3 )
play.head()

    playerId    gameId   time
1  151603712   72850.0  273.0
3  151603712  377160.0   87.0
5  151603712   22380.0   12.1
7  151603712     550.0    8.9
9  151603712  339800.0    8.5

In [114]:
# baseline estimation (naive)
# Each user will spend the averge amount of time playing the game (doesnt look at users of games)
# Group each game and average the time spent playing.
baseline_y_pred = pd.DataFrame(train.groupby('gameId')['time'].mean())

# ground truth that the model will be tested against
#gt_df = pd.DataFrame({'gameId': test["gameId"], 'Actual time': test})
#gt_df
test

         playerId    gameId   time
80969   248549548  200510.0    3.0
76585   206346171  236110.0   25.0
85479    62990992   35140.0   15.2
95927   129117376  218620.0  104.0
133585   74764496  271590.0   82.0
...           ...       ...    ...
3375    130280718  304930.0    7.1
136833   16231773   24240.0   26.0
135575  142793906  268420.0    2.0
105939  241862248  320300.0   35.0
15704   104709012     240.0   12.3

[16159 rows x 3 columns]

In [112]:
y_pred_and_y_true = pd.merge(baseline_y_pred, test, on='gameId')
baseline_y_pred_vs_y_true = y_pred_and_y_true.rename(columns={"time": "Predicted rating"})

baseline_y_pred_vs_y_true

         gameId      time_x   playerId  time_y
0          10.0  214.280155  203800963     4.3
1          10.0  214.280155   32498610   104.0
2          10.0  214.280155    9065641     0.4
3          10.0  214.280155  119949344     1.3
4          10.0  214.280155   58977564     0.2
...         ...         ...        ...     ...
15866  997530.0   12.500000  135400225     0.7
15867  997530.0   12.500000  117531196     5.2
15868  997530.0   12.500000  134322141     5.8
15869  997530.0   12.500000   58905429     0.9
15870  997530.0   12.500000  150789931    11.0

[15871 rows x 4 columns]

In [115]:
# calculating RMSE for the baseline model
print("RMSE baseline model: ", math.sqrt(mean_squared_error(baseline_y_pred_vs_y_true["time_x"], 
                                                       baseline_y_pred_vs_y_true["time_y"])))

RMSE baseline model:  232.28659456885035

In [100]:
# when importing from a DF, you only need to specify the scale of the ratings.
reader = surprise.Reader(rating_scale=(1,5)) 
#into surprise:
data = surprise.Dataset.load_from_df(train,reader)
holdout = surprise.Dataset.load_from_df(test,reader)
data

In [101]:
testset

[(72842694, 258200.0, 1.4),
 (94521606, 550.0, 9.1),
 (167738438, 440.0, 0.9),
 (46252394, 214950.0, 58.0),
 (120113754, 230410.0, 520.0),
 (256819019, 338180.0, 24.0),
 (167815968, 339800.0, 5.6),
 (174002551, 1520.0, 3.6),
 (293578749, 301520.0, 0.4),
 (57603447, 200510.0, 0.6),
 (24366790, 240.0, 3.0),
 (31178210, 10.0, 59.0),
 (38049880, 208200.0, 6.8),
 (167443514, 570.0, 0.2),
 (113546110, 320300.0, 1.1),
 (154014392, 240320.0, 3.8),
 (181900480, 204360.0, 1.4),
 (157275758, 248610.0, 4.3),
 (189734107, 22380.0, 7.3),
 (273539240, 570.0, 0.5),
 (124725852, 312150.0, 0.4),
 (187463594, 12120.0, 0.5),
 (172518437, 296470.0, 1.5),
 (112647787, 570.0, 2609.0),
 (254368479, 246620.0, 0.6),
 (105788297, 72850.0, 3.6),
 (115167911, 440.0, 4.5),
 (235692659, 620.0, 13.1),
 (212466515, 4000.0, 2.4),
 (127628725, 231430.0, 0.2),
 (35701646, 22000.0, 8.3),
 (215540943, 49520.0, 1.3),
 (127344335, 730.0, 184.0),
 (188250158, 362620.0, 9.8),
 (189191657, 214420.0, 4.3),
 (242523654, 259080.0, 2.7),
 (106956838, 24240.0, 1.9),
 (272499996, 355180.0, 13.4),
 (101596530, 105600.0, 364.0),
 (11970504, 301520.0, 15.5),
 (82686146, 46550.0, 2.1),
 (116564064, 250900.0, 32.0),
 (11794760, 201290.0, 2.9),
 (55739825, 42700.0, 21.0),
 (156565178, 203750.0, 0.3),
 (162081645, 301520.0, 0.8),
 (65754991, 320.0, 0.2),
 (99264709, 239140.0, 10.8),
 (22605909, 4850.0, 0.6),
 (220695363, 570.0, 0.7),
 (75463760, 362620.0, 24.0),
 (142001340, 312990.0, 1.1),
 (67492611, 311340.0, 31.0),
 (26762388, 8400.0, 6.9),
 (106170243, 24200.0, 3.4),
 (99077905, 55230.0, 2.5),
 (24469287, 225080.0, 2.9),
 (155818761, 570.0, 12.6),
 (249381092, 21660.0, 43.0),
 (213427457, 265930.0, 5.2),
 (160883669, 620.0, 7.8),
 (241834303, 570.0, 1.0),
 (115996656, 245170.0, 4.3),
 (33282871, 307880.0, 3.1),
 (12144171, 26000.0, 24.0),
 (121348667, 440.0, 2.3),
 (11373749, 12200.0, 13.5),
 (62990992, 206420.0, 11.7),
 (49893565, 91600.0, 3.2),
 (168732483, 440.0, 12.9),
 (77194239, 331440.0, 4.6),
 (131406060, 55230.0, 17.3),
 (238773402, 355840.0, 0.2),
 (174287424, 346110.0, 518.0),
 (172434236, 346900.0, 0.3),
 (298644721, 304930.0, 2.8),
 (28472068, 312990.0, 0.3),
 (156675178, 209000.0, 3.4),
 (30425578, 107100.0, 4.0),
 (39037163, 212680.0, 12.8),
 (20200395, 12110.0, 0.8),
 (91687359, 730.0, 72.0),
 (211925330, 230410.0, 425.0),
 (212078557, 212800.0, 0.1),
 (159800136, 332310.0, 0.3),
 (26762388, 35140.0, 3.2),
 (188681523, 274940.0, 5.0),
 (154533830, 204360.0, 3.4),
 (207830797, 293180.0, 3.6),
 (71510748, 26800.0, 0.4),
 (260538236, 301520.0, 84.0),
 (46301758, 550.0, 63.0),
 (108007732, 204360.0, 1.7),
 (157341587, 203160.0, 20.0),
 (182851135, 333930.0, 0.6),
 (171830903, 570.0, 0.4),
 (303525289, 304930.0, 0.6),
 (95898619, 730.0, 227.0),
 (120523185, 239030.0, 0.9),
 (194432540, 355840.0, 0.3),
 (92958887, 105600.0, 0.7),
 (24469287, 222730.0, 4.7),
 (44545959, 24200.0, 0.8),
 (150033540, 204100.0, 10.6),
 (148674157, 246620.0, 50.0),
 (34177747, 22230.0, 3.1),
 (242937979, 304930.0, 4.7),
 (36502549, 55230.0, 1.7),
 (107913460, 265930.0, 3.4),
 (281398000, 570.0, 25.0),
 (180426359, 570.0, 0.8),
 (174341713, 440.0, 21.0),
 (156675178, 620.0, 0.4),
 (38049880, 24720.0, 2.7),
 (67729331, 242920.0, 6.2),
 (92484390, 72850.0, 16.5),
 (196894502, 570.0, 0.2),
 (126701146, 620.0, 0.6),
 (85046830, 72850.0, 454.0),
 (120696775, 9900.0, 30.0),
 (253218347, 17300.0, 0.4),
 (235692659, 265630.0, 0.3),
 (166863117, 212070.0, 8.9),
 (283569430, 730.0, 154.0),
 (30440303, 440.0, 217.0),
 (200673341, 218640.0, 1.5),
 (38049880, 4920.0, 1.6),
 (178414233, 570.0, 0.4),
 (264625792, 440.0, 0.7),
 (17530772, 19000.0, 4.0),
 (55906572, 269210.0, 3.1),
 (8776918, 22380.0, 153.0),
 (191126693, 287700.0, 81.0),
 (48525807, 17570.0, 19.2),
 (72996988, 239160.0, 3.3),
 (71280014, 8930.0, 123.0),
 (11813637, 22300.0, 20.0),
 (85935348, 70000.0, 1.3),
 (9823354, 21100.0, 4.0),
 (298088734, 570.0, 120.0),
 (34901647, 304930.0, 1.7),
 (237475162, 333930.0, 0.2),
 (130201800, 380840.0, 2.1),
 (167785065, 271590.0, 104.0),
 (48028873, 234190.0, 15.7),
 (79869158, 320.0, 115.0),
 (101339059, 209390.0, 0.2),
 (109201849, 65800.0, 3.8),
 (95695156, 57300.0, 1.9),
 (81591317, 287700.0, 24.0),
 (73835640, 105450.0, 3.1),
 (46637811, 400.0, 4.4),
 (211454678, 383230.0, 90.0),
 (94269421, 22370.0, 24.0),
 (43684632, 3920.0, 5.1),
 (67694595, 108800.0, 0.4),
 (28472068, 18400.0, 0.2),
 (65531742, 400.0, 15.7),
 (59945701, 244730.0, 7.0),
 (12144171, 343280.0, 0.5),
 (127311699, 307780.0, 0.7),
 (95059220, 209160.0, 8.2),
 (101695880, 201070.0, 0.1),
 (65398650, 500.0, 6.6),
 (114758044, 570.0, 9.0),
 (62990992, 228260.0, 7.7),
 (122444332, 203160.0, 12.1),
 (80779496, 220.0, 16.4),
 (59662830, 48700.0, 21.0),
 (43160799, 346110.0, 8.7),
 (200524998, 219640.0, 41.0),
 (155718820, 252950.0, 0.1),
 (105586920, 550.0, 6.4),
 (135400225, 305620.0, 7.9),
 (60611062, 13240.0, 2.5),
 (24632218, 211600.0, 0.3),
 (268589228, 248570.0, 3.4),
 (233407123, 440.0, 0.6),
 (196066421, 200210.0, 0.2),
 (13190476, 216890.0, 13.3),
 (158495272, 12210.0, 1.6),
 (59925638, 16450.0, 10.9),
 (31669242, 10090.0, 12.7),
 (270917796, 201810.0, 3.3),
 (71390526, 42910.0, 15.7),
 (132300630, 233450.0, 22.0),
 (13190476, 3920.0, 6.2),
 (220680498, 386360.0, 0.4),
 (65716118, 34830.0, 2.0),
 (167167647, 238430.0, 12.4),
 (143877335, 255710.0, 60.0),
 (81439192, 201210.0, 4.7),
 (26762388, 12810.0, 3.8),
 (207647609, 236390.0, 0.4),
 (193058986, 304930.0, 1.9),
 (47384202, 207170.0, 4.8),
 (975449, 251770.0, 0.3),
 (159484357, 304050.0, 84.0),
 (221548709, 570.0, 435.0),
 (158496230, 570.0, 12.3),
 (8542204, 33930.0, 0.1),
 (149233338, 570.0, 5.5),
 (156675178, 20920.0, 0.6),
 (125718844, 570.0, 1.1),
 (46785501, 3230.0, 4.0),
 (11161178, 220200.0, 0.9),
 (308880998, 440.0, 0.6),
 (186040249, 227300.0, 23.0),
 (174633348, 286100.0, 0.6),
 (169576959, 570.0, 0.3),
 (15221799, 238960.0, 3.3),
 (17649444, 620.0, 14.8),
 (16084897, 12810.0, 57.0),
 (151256632, 246900.0, 13.4),
 (28648610, 70.0, 0.2),
 (243801291, 298240.0, 0.3),
 (93275329, 329490.0, 4.6),
 (182961604, 223710.0, 0.7),
 (58905429, 239030.0, 4.4),
 (102921672, 8930.0, 2.3),
 (101304417, 440.0, 13.7),
 (561758, 57900.0, 14.3),
 (194063322, 570.0, 9.2),
 (63157803, 17470.0, 8.2),
 (203332508, 113400.0, 1.8),
 (86433707, 273110.0, 0.2),
 (86469479, 202710.0, 2.2),
 (33865373, 3900.0, 135.0),
 (168053527, 271590.0, 62.0),
 (247160953, 570.0, 1.9),
 (54194546, 57300.0, 1.5),
 (10599862, 235460.0, 7.4),
 (84236369, 8930.0, 124.0),
 (114030647, 49520.0, 4.6),
 (201656921, 271590.0, 208.0),
 (60296891, 200510.0, 30.0),
 (82046939, 72850.0, 2.8),
 (11940338, 258950.0, 0.4),
 (30061970, 47800.0, 3.8),
 (34281672, 252490.0, 1.2),
 (101596530, 233720.0, 11.1),
 (17567828, 24740.0, 1.5),
 (86055705, 620.0, 39.0),
 (62990992, 314250.0, 0.9),
 (112504953, 298240.0, 0.2),
 (164097534, 224260.0, 22.0),
 (45532207, 440.0, 3.3),
 (162654590, 570.0, 13.2),
 (126522515, 304050.0, 12.1),
 (64787956, 221540.0, 2.5),
 (241891753, 48720.0, 95.0),
 (1936551, 263380.0, 0.3),
 (31669242, 32360.0, 5.3),
 (200673341, 204360.0, 9.3),
 (190070011, 242720.0, 15.6),
 (203643703, 212070.0, 0.9),
 (66950079, 113400.0, 2.5),
 (937567, 300.0, 1.1),
 (164805863, 8930.0, 8.3),
 (127311699, 203160.0, 1.9),
 (252217917, 570.0, 5.5),
 (109201849, 3830.0, 1.2),
 (126471719, 570.0, 675.0),
 (187463594, 72850.0, 5.5),
 (261281192, 570.0, 491.0),
 (247828143, 570.0, 2.7),
 (21539893, 224260.0, 0.7),
 (32847394, 220.0, 24.0),
 (110546460, 620.0, 5.8),
 (31669242, 420.0, 0.9),
 (58905429, 4780.0, 0.2),
 (298822624, 271590.0, 29.0),
 (34919318, 440.0, 0.4),
 (116876958, 20550.0, 1.9),
 (48798067, 218640.0, 4.7),
 (11731710, 42910.0, 0.8),
 (46301758, 233720.0, 0.4),
 (90878103, 500.0, 281.0),
 (59234901, 304930.0, 0.2),
 (234024191, 250320.0, 3.0),
 (171315014, 730.0, 21.0),
 (162797154, 730.0, 2.1),
 (159734412, 271590.0, 4.9),
 (24632218, 12830.0, 1.2),
 (30913209, 42700.0, 11.1),
 (207424334, 302830.0, 6.4),
 (165216496, 227940.0, 0.6),
 (170095814, 203160.0, 19.6),
 (130057540, 730.0, 165.0),
 (51557405, 32360.0, 15.9),
 (150995572, 270550.0, 0.7),
 (106834867, 70.0, 25.0),
 (8776918, 377160.0, 166.0),
 (220434034, 355840.0, 3.8),
 (48798067, 250900.0, 78.0),
 (102825821, 271590.0, 27.0),
 (187877855, 227940.0, 0.6),
 (23608098, 236390.0, 42.0),
 (187463594, 296470.0, 22.0),
 (106057222, 40100.0, 36.0),
 (77214425, 113400.0, 2.3),
 (149291366, 304930.0, 15.3),
 (129743598, 440.0, 10.1),
 (96400571, 218230.0, 72.0),
 (52731290, 1250.0, 29.0),
 (203800963, 550.0, 0.9),
 (134765677, 57300.0, 18.3),
 (62990992, 301540.0, 1.4),
 (98463542, 570.0, 55.0),
 (305697665, 570.0, 30.0),
 (270356700, 314250.0, 1.8),
 (27169419, 400.0, 0.8),
 (3674653, 10.0, 772.0),
 (235692659, 299360.0, 0.4),
 (283840654, 570.0, 2.3),
 (163930591, 339610.0, 1.6),
 (212207315, 221100.0, 9.1),
 (253813925, 500.0, 3.3),
 (154014392, 200710.0, 2.7),
 (17567828, 500.0, 1.8),
 (110546460, 570.0, 121.0),
 (158693714, 570.0, 2741.0),
 (36404933, 37600.0, 0.1),
 (79073449, 292030.0, 49.0),
 (188394070, 105600.0, 12.8),
 (74772820, 17470.0, 1.9),
 (221434031, 570.0, 6.2),
 (46637811, 228280.0, 8.3),
 (98848653, 311340.0, 12.6),
 (65398650, 3830.0, 3.0),
 (140408017, 33930.0, 0.3),
 (180901075, 292380.0, 0.2),
 (152956403, 383080.0, 1.8),
 (36546868, 35130.0, 0.3),
 (2259650, 8930.0, 12.0),
 (195780309, 4000.0, 3.9),
 (160819372, 570.0, 8.4),
 (27139623, 80.0, 75.0),
 (85366890, 205100.0, 21.0),
 (69009454, 115320.0, 3.4),
 (165216496, 302830.0, 8.8),
 (20914736, 570.0, 188.0),
 (174838943, 218620.0, 5.9),
 (14671378, 39000.0, 0.6),
 (32398422, 20.0, 0.2),
 (251164636, 8930.0, 32.0),
 (242242432, 346010.0, 8.0),
 (47457723, 320540.0, 2.2),
 (115167911, 753900.0, 4.3),
 (299312201, 570.0, 18.8),
 (60611062, 105600.0, 2.8),
 (11161178, 245280.0, 14.5),
 (144715893, 570.0, 15.0),
 (43360645, 222880.0, 7.5),
 (183048608, 570.0, 0.8),
 (199668978, 570.0, 0.2),
 (10934310, 320.0, 1.1),
 (208246168, 570.0, 1.2),
 (174762197, 218230.0, 0.5),
 (196873040, 730.0, 16.7),
 (83681553, 440.0, 4.0),
 (68049243, 105600.0, 0.1),
 (22470137, 240.0, 31.0),
 (252304245, 730.0, 28.0),
 (139016142, 49520.0, 59.0),
 (14962163, 10.0, 7.2),
 (144580725, 620.0, 15.1),
 (33013552, 32400.0, 0.7),
 (172518437, 33930.0, 31.0),
 (37723786, 49520.0, 3.7),
 (194670621, 1840.0, 2.0),
 (80189887, 48190.0, 4.5),
 (49228258, 105600.0, 98.0),
 (201743677, 570.0, 0.5),
 (88290913, 227940.0, 0.6),
 (33013552, 248820.0, 0.1),
 (215208719, 389570.0, 14.9),
 (305912574, 8500.0, 7.9),
 (81591317, 730.0, 1021.0),
 (107273897, 1840.0, 0.4),
 (80128229, 35480.0, 0.5),
 (238640566, 363970.0, 4.7),
 (23717586, 110800.0, 30.0),
 (87071236, 22300.0, 0.7),
 (102988032, 55150.0, 8.4),
 (258482885, 333930.0, 2.5),
 (96167505, 302510.0, 10.5),
 (69856757, 33930.0, 4.9),
 (153556435, 570.0, 0.6),
 (216025815, 20920.0, 13.8),
 (174923254, 355840.0, 1.3),
 (110881546, 215530.0, 30.0),
 (108007732, 209000.0, 4.8),
 (131032344, 203160.0, 11.3),
 (94299484, 244850.0, 51.0),
 (204459221, 440.0, 0.3),
 (42771635, 96200.0, 1.1),
 (142793906, 238430.0, 1.6),
 (260118401, 389570.0, 4.0),
 (49413665, 24810.0, 21.0),
 (158974308, 281240.0, 0.7),
 (59332369, 67370.0, 0.9),
 (174923254, 346120.0, 0.1),
 (18036199, 273110.0, 4.8),
 (185929621, 570.0, 454.0),
 (24469287, 252030.0, 0.4),
 (247313879, 730.0, 16.8),
 (158363887, 209160.0, 24.0),
 (211454678, 236110.0, 7.9),
 (48668697, 9480.0, 12.0),
 (99077905, 311340.0, 8.2),
 (122492047, 255260.0, 292.0),
 (16421440, 80.0, 1.0),
 (50818751, 29180.0, 1.1),
 (163160256, 252490.0, 138.0),
 (51085779, 252950.0, 15.0),
 (94239910, 72850.0, 8.4),
 (127426141, 12100.0, 1.7),
 (1072465, 240.0, 75.0),
 (142706526, 311340.0, 8.8),
 (69009454, 12170.0, 0.1),
 (80128229, 739810.0, 2.0),
 (103520209, 203650.0, 9.4),
 (234024191, 620.0, 12.5),
 (94088853, 304930.0, 16.8),
 (296153709, 570.0, 0.3),
 (22371742, 26800.0, 10.6),
 (105877396, 4920.0, 0.2),
 (17995238, 220200.0, 217.0),
 (79316774, 42910.0, 4.1),
 (11373749, 92000.0, 0.6),
 (3449240, 231430.0, 1.5),
 (130460859, 8930.0, 32.0),
 (57424113, 42700.0, 10.2),
 (154230723, 238320.0, 0.4),
 (50275189, 214420.0, 0.6),
 (169560266, 570.0, 2700.0),
 (174923254, 39120.0, 2.4),
 (123696203, 304050.0, 2.4),
 (212426459, 40400.0, 1.3),
 (33013552, 222880.0, 1.5),
 (254205257, 570.0, 0.1),
 (14126086, 400.0, 2.0),
 (196446810, 230410.0, 1.5),
 (85210874, 22230.0, 2.4),
 (73564778, 17300.0, 12.8),
 (87734805, 311210.0, 47.0),
 (111097037, 570.0, 1.0),
 (97686700, 48800.0, 43.0),
 (211920439, 570.0, 29.0),
 (11373749, 303210.0, 1.9),
 (70778973, 264200.0, 6.0),
 (202491399, 236390.0, 4.4),
 (202598205, 304930.0, 1.7),
 (113268833, 302610.0, 1.7),
 (86733992, 304930.0, 7.7),
 (175948419, 315430.0, 10.2),
 (100728962, 570.0, 73.0),
 (138941587, 244070.0, 11.9),
 (66615366, 225260.0, 0.4),
 (96400571, 240.0, 0.4),
 (216088282, 274920.0, 2.0),
 (31385451, 300.0, 250.0),
 (19586574, 215080.0, 0.7),
 (190623779, 570.0, 4.3),
 (16084897, 243120.0, 4.6),
 (116876958, 238010.0, 11.1),
 (113124720, 35140.0, 36.0),
 (43684632, 242920.0, 1.1),
 (200913780, 227300.0, 108.0),
 (58953935, 212070.0, 5.8),
 (73495968, 220200.0, 12.1),
 (152959594, 550.0, 9.9),
 (59756932, 285900.0, 0.7),
 (75232211, 219640.0, 0.6),
 (178038549, 41700.0, 5.5),
 (138941587, 24240.0, 7.8),
 (87734805, 271590.0, 14.7),
 (180901075, 357650.0, 2.0),
 (145927933, 550.0, 30.0),
 (159277759, 304930.0, 4.6),
 (80630217, 209080.0, 75.0),
 (141402600, 304050.0, 9.0),
 (99077905, 17300.0, 1.7),
 (22301321, 63200.0, 0.9),
 (178038549, 259080.0, 11.1),
 (124059151, 294670.0, 1.3),
 (110226344, 730.0, 2.2),
 (113752996, 238430.0, 2.4),
 (81585721, 22380.0, 30.0),
 (181608676, 8930.0, 268.0),
 (20772968, 739810.0, 6.4),
 (53875128, 238010.0, 18.3),
 (27262175, 200170.0, 8.7),
 (86481908, 300.0, 3.9),
 (101530848, 236390.0, 0.4),
 (163140792, 227300.0, 36.0),
 (153945772, 224260.0, 8.2),
 (168539881, 224260.0, 12.6),
 (132418423, 22380.0, 1.7),
 (252983257, 242760.0, 0.4),
 (256896099, 570.0, 908.0),
 (77194239, 32430.0, 0.5),
 (142775542, 237930.0, 3.6),
 (18109027, 10.0, 3.8),
 (190305835, 33930.0, 545.0),
 (17497581, 9900.0, 40.0),
 (69427304, 22600.0, 8.5),
 (241134815, 730.0, 290.0),
 (11207650, 17300.0, 5.5),
 (142001340, 72850.0, 37.0),
 (185259386, 304930.0, 11.3),
 (128651888, 243800.0, 2.4),
 (5990132, 227860.0, 83.0),
 (285860790, 228300.0, 9.7),
 (80511960, 17500.0, 1.6),
 (100311267, 317360.0, 0.4),
 (20200395, 220240.0, 43.0),
 (72978546, 291550.0, 1.8),
 (48845802, 42700.0, 11.3),
 (77387906, 80.0, 2.4),
 (167943113, 246620.0, 28.0),
 (120523185, 231040.0, 0.1),
 (131463112, 440.0, 28.0),
 (105384518, 208600.0, 5.5),
 (183574382, 24240.0, 4.1),
 (67729331, 204560.0, 0.1),
 (83219649, 57900.0, 8.8),
 (273082868, 227300.0, 10.6),
 (49893565, 200010.0, 3.1),
 (182780973, 570.0, 2.6),
 (127426141, 12180.0, 14.6),
 (134322141, 230410.0, 25.0),
 (4824107, 70000.0, 0.5),
 (69954842, 21100.0, 5.8),
 (254550709, 385770.0, 0.1),
 (80128229, 232890.0, 0.7),
 (4156158, 10.0, 9.7),
 (98561727, 235800.0, 2.0),
 (22283916, 10.0, 4664.0),
 (115806772, 12120.0, 0.2),
 (3527485, 220.0, 3.8),
 (68325099, 3700.0, 1.8),
 (224070533, 227940.0, 5.5),
 (28472068, 7210.0, 0.3),
 (72978546, 80.0, 214.0),
 (277967574, 730.0, 84.0),
 (13190476, 102600.0, 12.5),
 (71510748, 238010.0, 15.7),
 (40212239, 70600.0, 0.3),
 (162214363, 200170.0, 0.1),
 (161659407, 8800.0, 41.0),
 (80779496, 997530.0, 0.8),
 (162288536, 107410.0, 865.0),
 (94299484, 262410.0, 0.5),
 (3979930, 33930.0, 18.9),
 (116515230, 1900.0, 26.0),
 (254935843, 304930.0, 2.4),
 (56789999, 4000.0, 454.0),
 (156941467, 440.0, 1.3),
 (212426459, 304050.0, 105.0),
 (104380136, 1250.0, 0.2),
 (48666962, 220.0, 45.0),
 (111422562, 12210.0, 1.2),
 (49759696, 15620.0, 62.0),
 (77124916, 43000.0, 27.0),
 (295981434, 339800.0, 13.2),
 (221958385, 730.0, 356.0),
 (102834895, 440.0, 1.8),
 (147910240, 304930.0, 11.1),
 (26729643, 291550.0, 32.0),
 (146007471, 230410.0, 9.9),
 (94161846, 730.0, 412.0),
 (99171164, 4000.0, 296.0),
 (150305902, 440.0, 1.3),
 (40212239, 4920.0, 0.9),
 (9845449, 272060.0, 0.2),
 (298950, 40700.0, 3.8),
 (66255019, 233450.0, 10.6),
 (63098418, 42700.0, 4.5),
 (108160472, 12210.0, 1.5),
 (39622853, 300550.0, 16.3),
 (68719896, 236110.0, 41.0),
 (55906572, 24980.0, 3.5),
 (221961243, 393410.0, 0.1),
 (156071982, 220240.0, 24.0),
 (37706629, 620.0, 46.0),
 (95369808, 72850.0, 56.0),
 (92914917, 230050.0, 1.3),
 (298950, 113200.0, 0.4),
 (154014392, 440.0, 35.0),
 (253813925, 570.0, 2.1),
 (297650024, 49520.0, 46.0),
 (69954842, 218060.0, 7.6),
 (64787956, 105600.0, 65.0),
 (51557405, 368370.0, 4.6),
 (213022303, 356370.0, 0.1),
 (84045371, 313340.0, 25.0),
 (157530604, 620.0, 47.0),
 (20772968, 7940.0, 6.4),
 (116564064, 13600.0, 0.9),
 (58431944, 90200.0, 123.0),
 (172006888, 227940.0, 0.5),
 (11373749, 26000.0, 6.5),
 (185395696, 304930.0, 5.6),
 (245052241, 570.0, 1.1),
 (138941587, 330350.0, 5.4),
 (40212239, 346110.0, 211.0),
 (80630217, 212680.0, 27.0),
 (68719896, 252950.0, 40.0),
 (213256245, 570.0, 3.1),
 (91859894, 323470.0, 52.0),
 (17017968, 240.0, 872.0),
 (71390526, 4000.0, 1.6),
 (81439192, 211600.0, 1.6),
 (302477662, 391540.0, 13.4),
 (60611062, 8190.0, 1.0),
 (58345543, 9500.0, 0.7),
 (193156880, 265330.0, 0.2),
 (131785763, 237310.0, 13.5),
 (200036280, 260430.0, 1.3),
 (45118807, 17500.0, 0.6),
 (66255019, 200710.0, 7.3),
 (238773402, 304930.0, 33.0),
 (8311704, 22380.0, 0.9),
 (125276746, 570.0, 7.5),
 (114273290, 570.0, 45.0),
 (83497449, 269210.0, 39.0),
 (116564064, 210170.0, 1.0),
 (100096071, 24200.0, 2.2),
 (39622853, 550.0, 31.0),
 (199659716, 105600.0, 10.3),
 (80067793, 739810.0, 0.3),
 (65342306, 230410.0, 17.6),
 (157235483, 72850.0, 61.0),
 (110369840, 220240.0, 80.0),
 (206214102, 109600.0, 1.1),
 (54310644, 49470.0, 16.0),
 (163669475, 274190.0, 39.0),
 (50275189, 17470.0, 3.5),
 (171252939, 383080.0, 0.9),
 (241742834, 570.0, 4.3),
 (202843172, 72850.0, 1.7),
 (59662830, 233270.0, 3.1),
 (249550615, 304930.0, 0.2),
 (52731290, 47780.0, 29.0),
 (193156880, 570.0, 1069.0),
 (31727716, 550.0, 54.0),
 (162631416, 570.0, 1.2),
 (122026623, 17430.0, 18.0),
 (206558219, 258880.0, 18.4),
 (22283916, 50130.0, 8.4),
 (24469287, 97000.0, 3.8),
 (172518437, 240.0, 1.4),
 (35729292, 304930.0, 6.7),
 (58931437, 400.0, 3.4),
 (67729331, 108800.0, 2.2),
 (56436989, 286690.0, 2.1),
 (176411103, 570.0, 2.0),
 (10599862, 221040.0, 1.9),
 (74126541, 8930.0, 15.7),
 (201173206, 730.0, 2.3),
 (203153814, 33930.0, 136.0),
 (21535912, 291480.0, 0.7),
 (252352661, 304930.0, 0.5),
 (154230933, 313120.0, 2.1),
 (208900216, 49520.0, 131.0),
 (49893565, 3830.0, 12.5),
 (146999982, 212160.0, 0.8),
 (116912767, 8870.0, 97.0),
 (203260681, 258880.0, 1.3),
 (47227777, 15620.0, 5.5),
 (291070006, 302830.0, 0.9),
 (66596291, 34870.0, 2.9),
 (170485590, 202970.0, 9.0),
 (156379077, 200710.0, 15.2),
 (163712958, 218230.0, 2.4),
 (26762388, 32430.0, 12.8),
 (67001780, 4770.0, 0.8),
 (183771438, 440.0, 164.0),
 (171847029, 6880.0, 16.2),
 (42198457, 212680.0, 14.1),
 (163432200, 17440.0, 66.0),
 (31849177, 22380.0, 111.0),
 (245353969, 570.0, 1.3),
 (213427457, 265630.0, 0.8),
 (212466515, 214420.0, 1.5),
 (148362155, 6220.0, 0.7),
 (154099092, 570.0, 226.0),
 (206512772, 570.0, 2.3),
 (46637811, 15620.0, 91.0),
 (150644179, 570.0, 0.5),
 (13565651, 630.0, 3.6),
 (169244260, 440.0, 0.8),
 (101339059, 20540.0, 0.3),
 (250457669, 72850.0, 11.8),
 (66615366, 211820.0, 19.5),
 (167118460, 402840.0, 0.6),
 (31817706, 4570.0, 0.4),
 (177213985, 440.0, 0.3),
 (175836974, 1700.0, 55.0),
 (121280370, 219640.0, 7.5),
 (89523414, 335330.0, 0.2),
 (150305902, 244590.0, 0.2),
 (80128229, 108800.0, 5.3),
 (107124480, 550.0, 0.2),
 (96588736, 72850.0, 11.1),
 (116876958, 241910.0, 3.3),
 (110658990, 304930.0, 2.0),
 (46028967, 242860.0, 23.0),
 (250562791, 304050.0, 1.3),
 (65398650, 238430.0, 11.0),
 (59925638, 225540.0, 8.1),
 (46637811, 258220.0, 0.4),
 (201576436, 730.0, 21.0),
 (13190476, 32360.0, 3.4),

In [102]:
kSplit = surprise.model_selection.split.KFold(n_splits=10, shuffle=True) # split data into folds.

In [103]:
sim_options = sim_options = {'name': 'cosine',
               'user_based': False  # compute  similarities between items
               }
collabKNN = surprise.KNNBasic(k=40,sim_options=sim_options) #try removing sim_options. You'll find memory errors. 
rmseKNN = []
rmseSVD = []
for trainset, testset in kSplit.split(data): #iterate through the folds.
    collabKNN.fit(trainset)
    predictionsKNN = collabKNN.test(testset)
    rmseKNN.append(surprise.accuracy.rmse(predictionsKNN,verbose=True))#get root means squared error

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 164.2555
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 343.0539
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 237.2175
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 266.9798
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 267.8344
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 245.9864
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 227.7293
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 297.8055
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 262.6306
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 199.8033

In [104]:
sum(rmseKNN)/len(rmseKNN)

251.329622092835

In [105]:
funkSVD = surprise.prediction_algorithms.matrix_factorization.SVD(n_factors=30,n_epochs=10,biased=True)

In [106]:
min_error = 1
for trainset, testset in kSplit.split(data): #iterate through the folds.
    funkSVD.fit(trainset)
    predictionsSVD = funkSVD.test(testset)
    rmseSVD.append(surprise.accuracy.rmse(predictionsSVD,verbose=True))#get root means squared error

RMSE: 239.4394
RMSE: 245.0305
RMSE: 245.9786
RMSE: 306.9683
RMSE: 310.5372
RMSE: 215.9132
RMSE: 230.0264
RMSE: 319.6019
RMSE: 217.1668
RMSE: 190.3489

In [107]:
sum(rmseSVD)/len(rmseSVD)

252.10110742051424